{% extends "global/Page.html" %}


{% block title %}
    Year End Summary (Period {{ period1 }} to {{ period4 }})
{% endblock %}

{% block content %}

<style>
th, td {
  padding: 5px;
}
tr:nth-child(even) {background-color: #f2f2f2;}
</style>





    {% if player.treatment == 'O' %}
    <p>
The {{ year }} year is over.  Below, you find your individual summary of the past four periods.
    </p>



        <p>
        <table style="width:100%" align="center">
  <tr>
          <td><strong>Period:</strong></td><td><strong>{{ period1 }}</strong> </td><td><strong>{{ period2 }} </strong></td><td><strong>{{ period3 }} </strong></td><td><strong>{{ period4 }}</strong> </td>  </tr>
      <tr>
    <td>Your profit (in francs):</td>
      <td>{{ profit1|floatformat:"2" }}</td>
            <td>{{ profit2|floatformat:"2" }}</td>
            <td>{{ profit3|floatformat:"2" }}</td>
            <td>{{ profit4|floatformat:"2"}}</td>
        </tr>

</table>
</p>




{% endif %}

        {% if player.treatment == 'P' %}
    <p>
The {{ year }} year is over.  Below, you find your individual summary of the past four periods.
    </p>

                    <p>
        <table style="width:100%" align="center">
  <tr>
          <td><strong>Period:</strong></td><td><strong>{{ period1 }}</strong> </td><td><strong>{{ period2 }} </strong></td><td><strong>{{ period3 }} </strong></td><td><strong>{{ period4 }}</strong> </td>  </tr>
      <tr>
    <td>Location:</td>
      <td>{{ location1 }}</td>
            <td>{{ location2 }}</td>
            <td>{{ location3 }}</td>
            <td>{{ location4 }}</td>
        </tr>
              <tr>
    <td>Sugar content (in %):</td>
      <td>{{ sugar1 }}</td>
            <td>{{ sugar2 }}</td>
            <td>{{ sugar3 }}</td>
            <td>{{ sugar4 }}</td>
        </tr>
                      <tr>
    <td>Lemon content (in %):</td>
      <td>{{ lemon1 }}</td>
            <td>{{ lemon2 }}</td>
            <td>{{ lemon3 }}</td>
            <td>{{ lemon4 }}</td>
        </tr>
                      <tr>
    <td>Lemonade color:</td>
      <td>{{ color1 }}</td>
            <td>{{ color2 }}</td>
            <td>{{ color3 }}</td>
            <td>{{ color4 }}</td>
        </tr>
                              <tr>
    <td>Price:</td>
      <td>{{ price1 }}</td>
            <td>{{ price2 }}</td>
            <td>{{ price3 }}</td>
            <td>{{ price4 }}</td>
        </tr>
</table>
</p>

{% endif %}


            {% if player.treatment == 'C' %}
    <p>
The {{ year }} year is over.
    </p>


{% endif %}



{% formfields %}

{% button "Continue to the next year" %}
{% endblock %}


